<nav class="navbar navbar-expand-lg navbar-dark bg-dark ms-auto">
  <div class="container-fluid"><a class="navbar-brand" routerLink="">
    <object type="image/svg+xml" data="../../../../../assets/images/icon.svg" class="d-inline-block align-top" width="30" height="30">
    </object>
    MathHunt
  </a>
    <!-- sandwich button for smaller screens-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="games">Parties</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="geoGroups">GeoGroups</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="enigmas">Enigmes</a></li>
      </ul>
      <!-- navbar content on the right-->
      <ul class="nav navbar-nav end-0">
        <li class="nav-item dropdown">
          <button class="btn btn-secondary nav-item" type="button" id="dropDownUser" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <span class="bi bi-lock-fill me-1"></span>
              Déconnexion
          </button>
        </li>
      </ul>
    </div>

  </div>
</nav>
