<app-modal-danger #dangerModal [modalConfig]="dangerModalConfig"></app-modal-danger>
<app-modal-success #successModal [modalConfig]="successModalConfig"></app-modal-success>
<app-alert-danger *ngIf="dangerAlertConfig" [alertConfig]="dangerAlertConfig"></app-alert-danger>

<ng-container *ngIf="loading && !dangerAlertConfig">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem;"></div>
  </div>
</ng-container>

<div class="container mt-4" style="max-width: 40em" *ngIf="!loading">

  <div class="card shadow">

    <!-- header -->
    <div class="card-header pt-3">
      <div class="d-flex flex-row align-items-center">
        <h4 class="bi bi-person me-2"></h4>
        <h4 class="align-middle">Bonjour {{admin.username}} !</h4>
      </div>
    </div>

    <!-- body -->
    <div class="card-body">

      <form [formGroup]="editPasswordForm" class="d-flex flex-column" novalidate="novalidate" (ngSubmit)="onSubmitEditForm()">

        <!-- name -->
        <div class="mb-3">
          <label class="form-label" for="password">Mot de passe</label>
          <input class="form-control" id="password" type="password" name="password" placeholder="Mot de passe" autocomplete="off" required="required"
                 formControlName="password"  [ngClass]="{ 'is-invalid': submitted && password.invalid }"/>
          <div *ngIf="password.invalid" class="invalid-feedback">
            Votre mot de passe doit faire plus de 8 caractères.
          </div>
        </div>

        <!-- submit -->
        <div class="d-flex flex-row justify-content-end">
          <div class="mb-0 align-self-end me-3">
            <button type="submit" class="btn btn-outline-secondary bi bi-x"
                    (click)="editPasswordForm.reset();"> Annuler</button>
          </div>
          <div class="mb-0 align-self-end">
            <button type="submit" class="btn btn-warning bi bi-pencil"> Modifier</button>
          </div>
        </div>
      </form>

    </div>

  </div>

</div>
