<ng-template #infoModal>
  <div class="border border-2 rounded border-info">

    <div class="modal-header text-info">
      <h4 class="modal-title">
        <span class="bi bi-info-circle fs-2 me-2"></span>
        {{ modalConfig.modalTitle }}
      </h4>
    </div>
    <div class="modal-body fs-5">
      {{ modalConfig.modalText }}
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-secondary"
              (click)="dismiss()"
              *ngIf="modalConfig.hideDismissButton === undefined">
        {{ modalConfig.dismissButtonLabel }}
      </button>
      <button type="button"
              class="btn btn-info"
              (click)="action()"
              *ngIf="modalConfig.hideActionButton === undefined">
        {{ modalConfig.actionButtonLabel }}
      </button>
    </div>

  </div>
</ng-template>
